[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Wifi
Comment=
Exec=sh /home/madhatter/Shell Scripts/wifi.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

